{
{% if docker_dns is defined %}
  "dns": [ {% for dns in docker_dns %}"{{ dns }}"{% if not loop.last %}, {% endif %}{% endfor %} ],
{% endif %}
  "bip": "{{ docker_bip }}",
  "fixed-cidr": "{{ docker_fixed_cidr }}",
  "storage-driver": "{{ docker_storage_driver }}",
{% if docker_use_init is defined %}
  "init": {{ docker_use_init | bool | lower }},
{% endif %}
{% if docker_mtu is defined %}
  "mtu": {{ docker_mtu }},
{% endif %}
{% if docker_insecure_registries is defined %}
  "insecure-registries": [
{% for registry in docker_insecure_registries %}
    "{{ registry }}"{% if not loop.last %},{% endif %} 
{% endfor %}
  ],
{% endif %}
  "iptables": {{ docker_iptables | bool | lower }}
}
